/* Ikaaro 0.62
 *  * Additional part for the progress bar
 *   */
#progress-bar-widget {
  margin-top: 8px 
}
#progress-bar-widget #attachment-file-infos {
  margin: 8px 0px;
}
#progress-bar-widget #attachment-file-infos P {
  margin: 2px 0px;
  font-style: italic;
  color: #666666;
}
#progress-bar-widget #progress-bar-box {
  width: 425px;
  display: none;
}
#progress-bar-widget #progress-bar-box #progress-bar{
  width: 380px;
  height: 15px;
}
#progress-bar-widget #progress-bar-box #upload-size {
  float: left;
  margin-top: 5px;
  width: 175px;
}
#progress-bar-widget #progress-bar-box #progress-bar {
  float: left;
  margin-right: 12px;
}
#progress-bar-widget #progress-bar-box #percent {
  float: right;
}
