.tracker-issue-comment-title {
  background-color: #ddddff;
  font-weight: bold;
}

.tracker-select {
  width: 97%;
}

.com {
  font-family: "Arial", "DejaVu Sans", sans-serif;
}

.tracker-product {
  color: #CC0000;
  font-style: italic;
}

.tracker-resource {
  color: #0A4A0A;
}

#tracker TD.light {
  display:none;
}

/*
#tchacker PRE.com {
  margin-top:10px;
  padding-top:10px;
}
*/

#tchacker P.attachment {
  text-align: right;
}

#content A.hide {
  text-decoration: none;
}

TABLE.issues TH.version, TABLE.issues TD.version,
TABLE.issues TH.product, TABLE.issues TD.product,
TABLE.issues TH.assigned-to, TABLE.issues TD.assigned-to,
TABLE.issues TH.thead-version,
TABLE.issues TH.thead-product,
TABLE.issues TH.thead-assigned-to {
  display:none;
}

#footer {
  width:100%;
}

/* Table history Image rollover */
DIV.issue-roll {
	position: relative;
	z-index:50;
}
.issue-roll .rollover {
	position:absolute;
	top:0px;
	left:0px;
	z-index:100;
}
.issue-roll .rollimages {
	width:256px;
	position:absolute;
	top:0px;
	left:0px;
	z-index:75;
}
.issue-roll .rollimages .roll IMG {
	margin: 0px;
        padding: 0px;
        border: none;
	vertical-align: middle;
}
.issue-roll .rollover .roll {
	float:left;
}
.issue-roll .rollimages .roll {
	display:none;
	width:256px; 
	text-align:center;
	float:left;
	position:absolute;
}
