.tracker-issue-comment-title {
  background-color: #ddddff;
  font-weight: bold;
}

.tracker-select {
  width: 97%;
}

.com {
  font-family: "Arial", "DejaVu Sans", sans-serif;
}

.tracker-product {
  color: #CC0000;
  font-style: italic;
}

.tracker-resource {
  color: #0A4A0A;
}

#tracker TD.light {
  display:none;
}

P.attachment {
  text-align: right;
}

#content A.hide {
  text-decoration: none;
}

#footer {
  width:100%;
}

/* Table history Image rollover */
DIV.issue-roll {
	text-align:center;
	position: relative;
	z-index:50;
}
.issue-roll .rollover {
	position:absolute;
	top:0px;
	left:0px;
	z-index:100;
}
.issue-roll .rollimages {
	width:256px;
	position:absolute;
	top:0px;
	left:0px;
	z-index:75;
}
.issue-roll .rollimages .roll IMG {
	margin: 0px;
        padding: 0px;
        border: none;
	vertical-align: middle;
}
.issue-roll .rollover .roll {
	float:left;
}
.issue-roll .rollimages .roll {
	display:none;
	width:256px;
	text-align:center;
	float:left;
	position:absolute;
}
/* Tracker FORM */
.left {
    width: 33%;
    float: left;
}
.left-center {
    width: 66%;
    float: left;
}
.center {
    width: 34%;
    /*margin-left: 33%;*/
    float: left;
}
.right {
    width: 33%;
    float: right;
}
.all {
    width: 100%;
    float: left;
}
span.field-error {
    font-size: 10px;
}

/* From ui/edit_issue.xml */
.tracker-select {
  width: null;
}
FORM#tracker {
        padding: 25px 0px;
  width: 100%;
}
FORM#tracker .bord,
FORM#tracker .content,
{
  float: left;
}
#tracker .light {
        display:none;
}
FORM#tracker .one DIV {
  float: left;
}
FORM#tracker .label {
  width: 100%;
  float: left;
}
FORM#tracker .two {
  width: 64%;
}
FORM#tracker .bord {
  margin: 0px 0px 0px 3px;
  padding: 0px;
}
FORM#tracker INPUT,
FORM#tracker SELECT {
  margin: 2px 0px;
  padding: 0px;
  width: 95%;
}
FORM#tracker .label {
  margin: 4px 0px 0px 0px;
  padding: 0px;
}
FORM#tracker .two-right {
  width: 31%;
}
FORM#tracker .one .two .three {
  width: 48%;
}
FORM#tracker FIELDSET.attachment {
  margin: 4px 0px;
  padding: 0px;
}
FORM#tracker FIELDSET.attachment INPUT,
FORM#tracker FIELDSET.attachment .label {
  margin: 4px ;
  padding: 0px;
}
FORM#tracker #comment TEXTAREA,
FORM#tracker #comment LABEL {
  clear: both;
  float: left;
}
FORM#tracker #upload {
  clear: both;
}
P.attachment {
  width: 100%;
  text-align: right;
}
H2.tchacker {
  font-weight: normal;
}
/* Canvas sketching */
#drawing-tools .tools A {
    border: 1px solid #000000;
    color: #000000;
    display: inline-block;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    padding: 0;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}
#onglets {
  margin-top: 20px;
  margin-bottom: 20px;
}
#onglets.ui-tabs ul.ui-tabs-nav A {
  outline: 0;
}
#onglets ul li {
  list-style-type: none;
}
.ui-widget {
  font-size:100%;
  font-family: "Arial","DejaVu Sans",sans-serif;
}
BUTTON.button-ok {
  margin-top: 20px;
}
